@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/bootstrap-table.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap-datepicker3.css" rel="stylesheet" />
<script type="text/javascript" src="~/Scripts/bootstrap-table.min.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap-table-zh-CN.min.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="~/Scripts/locales/bootstrap-datepicker.zh-CN.min.js"></script>
<style>
    td, span, div { font-size: 12px; }
    .bootstrap-table .table { table-layout: fixed; max-width: 2000px; }
    .fixed-table-toolbar .bs-bars, .fixed-table-toolbar .columns, .fixed-table-toolbar .search{margin:0;line-height:28px;}
    .fixed-table-toolbar{margin-bottom:5px;}
    .bootstrap-table .search {margin:0 ;margin-left: 12px; }
        .bootstrap-table .search input { height: 30px; font-size: 12px;width:220px; }
    .fixed-table-container, .bootstrap-table .table { border-radius: 0; table-layout: fixed; }
        .bootstrap-table .table th { background-color: #0c125a; border-left: none; color: #fff; }
        .bootstrap-table .table:not(.table-condensed), .bootstrap-table .table:not(.table-condensed) > tbody > tr > td, .bootstrap-table .table:not(.table-condensed) > tbody > tr > th, .bootstrap-table .table:not(.table-condensed) > tfoot > tr > td, .bootstrap-table .table:not(.table-condensed) > tfoot > tr > th, .bootstrap-table .table:not(.table-condensed) > thead > tr > td { padding: 5px; }
        .bootstrap-table .table > thead > tr > th { vertical-align: middle; border-left: 1px solid #ddd; }
    td { text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
    .fixed-table-container tbody td .th-inner, .fixed-table-container thead th .th-inner { padding: 8px; line-height: 16px; vertical-align: top; overflow: hidden; text-overflow: ellipsis; white-space: inherit; text-align: center; }
</style>
<div class="container-fluid">
    <div class="row" style="margin: 10px;">
        <div class="col-xs-3"><h4><i>经销商使用情况</i></h4></div>
        <div class="col-xs-5">
            <div class="form-inline form-group">
                <span for="days">月登录天数:</span>
                <div class="form-group">
                    <span class="input-daterange input-group" style="width:100px;">
                        <input type="text" class="input-sm form-control" id="days" />
                        <span class="input-group-addon" style="font-size:12px;">天</span>
                    </span>
                </div>
                <span style="color:#910606;">红色标注</span>
            </div>
        </div>
        <div class="col-xs-4">
            <button type="button" class="btn btn-primary btn-sm btn-search">重新查询</button>
            <button type="button" class="btn btn-primary btn-sm btn-cache">清除缓存</button>
        </div>
        <div class="col-xs-offset-8 col-xs-4">默认缓存数据12小时，如需最新数据请先清除缓存再查询</div>
    </div>
    <div class="row" style="border: 1px solid #d7d7d7; margin: 10px; padding: 5px; box-shadow: 2px 2px 5px rgba(188, 188, 188, 0.349019607843137)">
        <div class="col-xs-2">
            <div style="height: 130px;text-align:center;">
                <span id="totalWsNumberValue" style="font-size: 55px; color: #ffb11b; line-height: 100px;font-weight:bold;font-family:'Times New Roman'">0</span>
                <br />
                <span id="totolWsNumberLabel" style="font-size: 12px;font-weight:bold; line-height: 30px;">经销商总数</span>
            </div>
        </div>
        <div class="col-xs-2">
            <div style="height: 130px;text-align:center;">
                <span id="totalUserNumberValue" style="font-size: 55px; color: #73BF00; line-height: 100px;font-weight:bold;font-family:'Times New Roman'">0</span>
                <br />
                <span id="totalUserNumberLabel" style="font-size: 12px;font-weight:bold; line-height: 30px;">用户总数</span>
            </div>
        </div>
        <div class="col-xs-2">
            <div style="height: 130px;text-align:center;">
                <span id="totalVehNumberValue" style="font-size: 55px; color: #c009ca; line-height: 100px;font-weight:bold;font-family:'Times New Roman'">0</span>
                <br />
                <span id="totalVehNumberLabel" style="font-size: 12px;font-weight:bold; line-height: 30px;">GPS车辆总数</span>
            </div>
        </div>
        <div class="col-xs-6">
            <div id="moduleUserCount" style="height: 100px; padding: 3px 0px 3px 0px"></div>
            <div style="font-size: 12px;font-weight:bold; line-height: 30px;text-align:center;">各模块使用用户数 【由于一个用户可能对应多个模块，用户数之和可能大于总用户数】</div>
        </div>
    </div>

    <div class="row" style="margin: 10px 10px 0 10px;">
        <div id="toolbar">
            <button type="button" class="btn btn-primary btn-sm btn-clear">清空</button>
        </div>
        <table class="table table-striped" id="table"></table>
    </div>

</div>


<script>
    $(function () {
        $this = this;
        var GetDateStr = null;
        var totalValue = {};
        var data = [];
        var $table = null;
        var totalCount = {}
        var columns = [
                [{
                    field: 'id',
                    title: '序号',
                    align: 'center',
                    searchable: false,
                    width: 50,
                    colspan: 1,
                    rowspan: 2,
                    valign: "middle",
                }, {
                    field: 'AreaName',
                    title: '城市',
                    align: 'left',
                    colspan: 1,
                    rowspan: 2,
                    width: 150,
                    valign: "middle",
                }, {
                    field: 'WSID',
                    title: '经销商ID',
                    align: 'left',
                    colspan: 1,
                    rowspan: 2,
                    width: 70,
                    valign: "middle",
                }, {
                    field: 'WSName',
                    title: '经销商名称',
                    searchable: true,
                    align: 'left',
                    colspan: 1,
                    rowspan: 2,
                    width: 200,
                    valign: "middle",
                }, {
                    field: 'custCount',
                    title: '客户数',
                    searchable: false,
                    align: 'right',
                    colspan: 1,
                    rowspan: 2,
                    width: 70,
                    valign: "middle",
                }, {
                    field: 'newCustCount',
                    title: '未审核客户数',
                    searchable: false,
                    align: 'right',
                    colspan: 1,
                    rowspan: 2,
                    width: 60,
                    valign: "middle",
                }, {
                    field: 'onlineDate',
                    title: '上线日期',
                    searchable: false,
                    colspan: 1,
                    rowspan: 2,
                    width: 90,
                    valign: "middle",
                    formatter: function (value, row, index) {
                        if (value == null) {
                            return "待上线";
                        } else {
                            return new Date(eval('new ' + value.substr(1, value.length - 2))).Format("yyyy-MM-dd");
                        }
                    },
                    cellStyle: function (value, row, field) {
                        if (value == null) {
                            return { css: { "background-color": "#b3c0f1", "text-align": "center" } };
                        } else {
                            return { css: { "text-align": "right" } };
                        }
                    }
                }, {
                    field: 'userCount',
                    title: '用户数',
                    searchable: false,
                    halign: "center",
                    align: 'right',
                    valign: "middle",
                    colspan: 1,
                    rowspan: 2,
                    width: 70,
                    formatter: function (value, row, index) {
                        if (value == 0) {
                            return "-";
                        } else {
                            return value;
                        }
                    }
                }, {
                    field: 'vehCount',
                    title: 'GPS车辆数',
                    searchable: false,
                    align: 'right',
                    colspan: 1,
                    rowspan: 2,
                    width: 70,
                    valign: "middle",
                    formatter: function (value, row, index) {
                        if (value == 0) {
                            return "-";
                        } else {
                            return value;
                        }
                    },
                },
                {
                    field: 'dayWebCount',
                    title: 'WEB近一（月周天）登录天数',
                    align: 'right',
                    searchable: false,
                    halign: "center",
                    width: 180,
                    colspan: 3,
                    rowspan: 1,
                },
                {
                    field: 'dayAppCount',
                    title: 'APP近一（月周天）登录天数',
                    align: 'right',
                    searchable: false,
                    halign: "center",
                    width: 180,
                    colspan: 3,
                    rowspan: 1,
                },
                {
                    field: 'nousedays',
                    title: '最近连续天数',
                    searchable: false,
                    align: 'right',
                    halign: "center",
                    width: 300,
                    colspan: 5,
                    rowspan: 1,
                },
                {
                    field: 'usenumbers',
                    title: '各类型人数',
                    searchable: false,
                    align: 'right',
                    halign: "center",
                    width: 290,
                    colspan: 7,
                    rowspan: 1,
                }
                ],
                [
                     {
                         field: 'oneWebMonth',
                         title: '月登录天数',
                         searchable: false,
                         align: 'right',
                         formatter: function (value, row, index) {
                             if (value == null) {
                                 return "-";
                             } else {
                                 return "<div title='最近WEB端登录时间为：" + (row.noLoginWebDay == null ? "" : new Date(eval('new ' + row.noLoginWebDay.substr(1, row.noLoginWebDay.length - 2))).Format("yyyy-MM-dd")) + "'>" + value + "</div>";
                             }
                         },
                         cellStyle: function (value, row, field) {
                             if (value == null) {
                                 return { css: { "background-color": "#9b9898" } };
                             } else {
                                 if (Number(value) > Number($("#days").val())) {
                                     return { css: { "background-color": "#910606", "color": "#fff" } };
                                 }
                             }
                             return "";
                         }
                     },
                    {
                        field: 'oneWebWeek',
                        title: '周登录天数',
                        searchable: false,
                        align: 'right',
                        formatter: function (value, row, index) {
                            if (value == null) {
                                return "-";
                            } else {
                                return "<div title='最近WEB端登录时间为：" + (row.noLoginWebDay == null ? "" : new Date(eval('new ' + row.noLoginWebDay.substr(1, row.noLoginWebDay.length - 2))).Format("yyyy-MM-dd")) + "'>" + value + "</div>";
                            }
                        },
                        cellStyle: function (value, row, field) {
                            if (value == null) {
                                return { css: { "background-color": "#9b9898" } };
                            } else {
                                if (Number(value) > Number($("#days").val())) {
                                    return { css: { "background-color": "#910606", "color": "#fff" } };
                                }
                            }
                            return "";
                        }
                    },
                    {
                        field: 'oneWebDay',
                        title: '天登录天数',
                        searchable: false,
                        align: 'right',
                        formatter: function (value, row, index) {
                            if (value == null) {
                                return "-";
                            } else {
                                return "<div title='最近WEB端登录时间为：" + (row.noLoginWebDay == null ? "" : new Date(eval('new ' + row.noLoginWebDay.substr(1, row.noLoginWebDay.length - 2))).Format("yyyy-MM-dd")) + "'>" + value + "</div>";
                            }
                        },
                        cellStyle: function (value, row, field) {
                            if (value == null) {
                                return { css: { "background-color": "#9b9898" } };
                            } else {
                                if (Number(value) > Number($("#days").val())) {
                                    return { css: { "background-color": "#910606", "color": "#fff" } };
                                }
                            }
                            return "";
                        }
                    },
                    {
                        field: 'oneAppMonth',
                        title: '月登录天数',
                        searchable: false,
                        align: 'right',
                        formatter: function (value, row, index) {
                            if (value == null) {
                                return "-";
                            } else {
                                return "<div title='最近APP端登录时间为：" + (row.noLoginAppDay == null ? "-" : new Date(eval('new ' + row.noLoginAppDay.substr(1, row.noLoginAppDay.length - 2))).Format("yyyy-MM-dd")) + "'>" + value + "</div>";
                            }
                        },
                        cellStyle: function (value, row, field) {
                            if (value == null) {
                                return { css: { "background-color": "#9b9898" } };
                            } else {
                                if (Number(value) > Number($("#days").val())) {
                                    return { css: { "background-color": "#910606", "color": "#fff" } };
                                }
                            }
                            return "";
                        }
                    },
                    {
                        field: 'oneAppWeek',
                        title: '周登录天数',
                        searchable: false,
                        align: 'right',
                        formatter: function (value, row, index) {
                            if (value == null) {
                                return "-";
                            } else {
                                return "<div title='最近APP端登录时间为：" + (row.noLoginAppDay == null ? "-" : new Date(eval('new ' + row.noLoginAppDay.substr(1, row.noLoginAppDay.length - 2))).Format("yyyy-MM-dd")) + "'>" + value + "</div>";
                            }
                        },
                        cellStyle: function (value, row, field) {
                            if (value == null) {
                                return { css: { "background-color": "#9b9898" } };
                            } else {
                                if (Number(value) > Number($("#days").val())) {
                                    return { css: { "background-color": "#910606", "color": "#fff" } };
                                }
                            }
                            return "";
                        }
                    },
                    {
                        field: 'oneAppDay',
                        title: '天登录天数',
                        searchable: false,
                        align: 'right',
                        formatter: function (value, row, index) {
                            if (value == null) {
                                return "-";
                            } else {
                                return "<div title='最近APP端登录时间为：" + (row.noLoginAppDay == null ? "-" : new Date(eval('new ' + row.noLoginAppDay.substr(1, row.noLoginAppDay.length - 2))).Format("yyyy-MM-dd")) + "'>" + value + "</div>";
                            }
                        },
                        cellStyle: function (value, row, field) {
                            if (value == null) {
                                return { css: { "background-color": "#9b9898" } };
                            } else {
                                return "";
                            }
                        }
                    },
                    {
                        field: 'noLoginWebDayNums',
                        title: 'WEB端未登录',
                        searchable: false,
                        align: 'right',
                        formatter: function (value, row, index) {
                            if (value == null) {
                                return "-";
                            } else {
                                return "<div title='最近登录时间为：" + (row.noLoginWebDay == null ? "" : new Date(eval('new ' + row.noLoginWebDay.substr(1, row.noLoginWebDay.length - 2))).Format("yyyy-MM-dd")) + "'>" + value + "</div>";
                            }
                        }
                    }, {
                        field: 'noOrderDayNums',
                        title: '未下单',
                        searchable: false,
                        align: 'right',
                        formatter: function (value, row, index) {
                            if (value == null) {
                                return "-";
                            } else {
                                return "<div title='最近下单时间为：" + (row.OrderDate == null ? "" : new Date(eval('new ' + row.OrderDate.substr(1, row.OrderDate.length - 2))).Format("yyyy-MM-dd")) + "'>" + value + "</div>";
                            }
                        }
                    }, {
                        field: 'noLoginAppDayNums',
                        title: 'APP端未登录',
                        searchable: false,
                        align: 'right',
                        formatter: function (value, row, index) {
                            if (value == null) {
                                return "-";
                            } else {
                                return "<div title='最近登录时间为：" + (row.noLoginAppDay == null ? "" : new Date(eval('new ' + row.noLoginAppDay.substr(1, row.noLoginAppDay.length - 2))).Format("yyyy-MM-dd")) + "'>" + value + "</div>";
                            }
                        },
                        cellStyle: function (value, row, field) {
                            if (value == null) {
                                return { css: { "background-color": "#9b9898" } };
                            } else {
                                if (Number(value) > Number($("#days").val())) {
                                    return { css: { "background-color": "#910606", "color": "#fff" } };
                                }
                            }

                            return "";
                        }
                    }, {
                        field: 'noInputFyDayNums',
                        title: '未录费用',
                        searchable: false,
                        align: 'right',
                        formatter: function (value, row, index) {
                            if (value == null) {
                                return "-";
                            } else {
                                return "<div title='最近录入时间为：" + (row.RecTimestamp == null ? "" : new Date(eval('new ' + row.RecTimestamp.substr(1, row.RecTimestamp.length - 2))).Format("yyyy-MM-dd")) + "'>" + value + "</div>";
                            }
                        },
                        cellStyle: function (value, row, field) {
                            if (value == null) {
                                return { css: { "background-color": "#9b9898" } };
                            } else {
                                if (Number(value) > Number($("#days").val())) {
                                    return { css: { "background-color": "#910606", "color": "#fff" } };
                                }
                            }

                            return "";
                        }
                    }, {
                        field: 'noBfDayNums',
                        title: '未拜访',
                        searchable: false,
                        align: 'right',
                        formatter: function (value, row, index) {
                            if (value == null) {
                                return "-";
                            } else {
                                return "<div title='最近拜访时间为：" + (row.VisitDate == null ? "" : new Date(eval('new ' + row.VisitDate.substr(1, row.VisitDate.length - 2))).Format("yyyy-MM-dd")) + "'>" + value + "</div>";
                            }
                        },
                        cellStyle: function (value, row, field) {
                            if (value == null) {
                                return { css: { "background-color": "#9b9898" } };
                            } else {
                                if (Number(value) > Number($("#days").val())) {
                                    return { css: { "background-color": "#910606", "color": "#fff" } };
                                }
                            }

                            return "";
                        }
                    }, {
                        field: 'xsdbCount',
                        title: '销售代表',
                        searchable: false,
                        halign: "center",
                        align: 'right',
                        valign: "middle",
                        formatter: function (value, row, index) {
                            if (value == 0) {
                                return "-";
                            } else {
                                return value;
                            }
                        },
                    }, {
                        field: 'xszgCount',
                        searchable: false,
                        title: '销售主管',
                        halign: "center",
                        align: 'right',
                        valign: "middle",
                        formatter: function (value, row, index) {
                            if (value == 0) {
                                return "-";
                            } else {
                                return value;
                            }
                        },
                    }, {
                        field: 'xsjlCount',
                        searchable: false,
                        title: '销售经理',
                        halign: "center",
                        align: 'right',
                        valign: "middle",
                        formatter: function (value, row, index) {
                            if (value == 0) {
                                return "-";
                            } else {
                                return value;
                            }
                        },
                    }, {
                        field: 'xszjCount',
                        searchable: false,
                        title: '销售总监',
                        halign: "center",
                        align: 'right',
                        valign: "middle",
                        formatter: function (value, row, index) {
                            if (value == 0) {
                                return "-";
                            } else {
                                return value;
                            }
                        },
                    }, {
                        field: 'cxywyCount',
                        searchable: false,
                        title: '车销代表',
                        halign: "center",
                        align: 'right',
                        valign: "middle",
                        formatter: function (value, row, index) {
                            if (value == 0) {
                                return "-";
                            } else {
                                return value;
                            }
                        },
                    }, {
                        field: 'sjCount',
                        title: '司机',
                        halign: "center",
                        searchable: false,
                        align: 'right',
                        valign: "middle",
                        formatter: function (value, row, index) {
                            if (value == 0) {
                                return "-";
                            } else {
                                return value;
                            }
                        },
                    }, {
                        field: 'qtCount',
                        title: '其它人员',
                        searchable: false,
                        halign: "center",
                        align: 'right',
                        valign: "middle",
                        formatter: function (value, row, index) {
                            if (value == 0) {
                                return "-";
                            } else {
                                return value;
                            }
                        },
                    }
                ]

        ];
        var myChartFun = null;

        $this.init = function () {
            GetDateStr = function (AddDayCount) {
                var dd = new Date();
                dd.setDate(dd.getDate() + AddDayCount);//获取AddDayCount天后的日期
                var y = dd.getFullYear();
                var m = dd.getMonth() + 1;//获取当前月份的日期
                var d = dd.getDate();
                return y + "-" + m + "-" + d;
            }

            $("#days").val(20);

            $(".btn-search").click(function () {
                $this.TableDataInit();
            })

            //清空
            $(".btn-clear").click(function () {
                $table.bootstrapTable('resetSearch');
            })

            $(".btn-cache").click(function () {
                $.ajax({
                    type: 'POST',
                    async: false,
                    url: 'ClearCacheData',
                    beforeSend: function (XMLHttpRequest) {
                        $(".loading-icon").show();
                    },
                    success: function (result) {
                        alert(result);
                        $(".loading-icon").hide();
                    },
                    complete: function (XMLHttpRequest, textStatus) {
                        $(".loading-icon").hide();
                    },
                    error: function (error) {
                        //alert(error.responseText);
                    }
                });
            })

            //柱状
            myChartFun = function (myChartArr) {
                var myChart = myChartArr[0];
                var title = myChartArr[1];
                var dataLabel = myChartArr[2];
                var dataArr = myChartArr[3];

                option = {
                    title: {
                        text: "",
                        textStyle: {
                            fontSize: '12',
                            fontWeight: 'bold'
                        }
                    },
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                            type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                        }
                    },
                    legend: {
                        //data: dataLabel,
                        x: 'center',
                        y: 'bottom',
                    },
                    grid: {
                        top: '15%',
                        left: '5%',
                        right: '5%',
                        bottom: '0%',
                        containLabel: true
                    },
                    xAxis:
                        {
                            type: 'category',
                            data: dataLabel,
                            boundaryGap: true,
                            axisLabel: {
                                interval: 0,
                                //rotate: 45//倾斜度 -90 至 90 默认为0
                            },
                            splitLine: {//终于找到了，背景图的内置表格中“边框”的颜色线条  这个是x跟y轴轴的线
                                show: true,
                                lineStyle: {
                                    width: 0.5,
                                    color: "#e4e4e4",
                                    type: "solid"
                                }
                            },
                            axisLine: {
                                show: false,
                                lineStyle: {
                                    width: 0.5,
                                    color: "#000000",
                                    type: "solid"
                                }
                            }
                        },
                    yAxis:
                        {
                            type: 'value',
                            splitLine: {//终于找到了，背景图的内置表格中“边框”的颜色线条  这个是x跟y轴轴的线
                                show: true,
                                lineStyle: {
                                    width: 0.5,
                                    color: "#e4e4e4",
                                    type: "solid"
                                }
                            },
                            axisLine: {
                                show: false,
                                lineStyle: {
                                    width: 0.5,
                                    color: "#000000",
                                    type: "solid"
                                }
                            },
                            axisLabel: {
                                textStyle: {
                                    color: '#999',
                                    fontSize: '9',
                                }
                            }

                        },
                    series: [
                        {
                            type: 'bar',
                            data: dataArr,
                            label: {
                                normal: {
                                    show: true,
                                    position: 'top'
                                }
                            },
                            itemStyle: {
                                normal: {
                                    color: "#00b050",//类别颜色
                                    borderColor: "#FFFFFF",
                                    borderWidth: 0
                                }
                            },

                        }
                    ]
                };
                // 使用刚指定的配置项和数据显示图表。
                myChart.setOption(option);
                $(window).resize(function () {
                    myChart.resize();
                });
            }
        }


        //获取值
        $this.TableDataInit = function () {
            $.ajax({
                type: 'POST',
                url: 'FindSqlList',
                data: { where: "1000223,1000095,1000225,1000142,1000147,1000247,1000175,1000220,1000216" },
                beforeSend: function (XMLHttpRequest) {
                    $(".loading-icon").show();
                },
                success: function (result) {
                    var dataLabel = [];
                    var dataArr = [];
                    result.moduleLis.map(function (item) {
                        dataLabel.push(item.ApplicationTypeName);
                        dataArr.push(item.moduleCount);
                    })

                    var moduleUserCount = document.getElementById("moduleUserCount");
                    var myChart1 = echarts.init(moduleUserCount, null);
                    var myChartArr = new Array(myChart1, "各模块对应用户数", dataLabel, dataArr);
                    myChartFun(myChartArr);


                    data = [];
                    totalCount.totalWsCount = result.totalWsCount;
                    totalCount.totalUserCount = result.totalUserCount;
                    totalCount.totalVehCount = result.totalVehCount;

                    //赋值
                    $("#totalWsNumberValue").html(totalCount.totalWsCount);
                    $("#totalUserNumberValue").html(totalCount.totalUserCount);
                    $("#totalVehNumberValue").html(totalCount.totalVehCount);

                    result.rows.map(function (item, index) {
                        var obj = {};
                        item.id = index + 1;
                        item.noLoginWebDayNums = item.noLoginWebDayNums;
                        item.noLoginAppDayNums = item.noLoginAppDayNums;
                        item.noInputFyDayNums = item.noInputFyDayNums;
                        item.noBfDayNums = item.noBfDayNums;

                        data.push(item);
                    })



                    if ($table == null) {
                        $this.tableInit();
                    } else {
                        $table.bootstrapTable('refreshOptions', {
                            data: data,
                            //height: $(window).height() - $table.offset().top - 15,
                            columns: columns,
                        });
                    }

                    $(".loading-icon").hide();
                },
                complete: function (XMLHttpRequest, textStatus) {
                    $(".loading-icon").hide();
                },
                error: function (error) {
                    //alert(error.responseText);
                }
            });

        }

        $this.tableInit = function () {
            $table = $('#table');
            $table.bootstrapTable({
                data: data,
                toolbar: "#toolbar",
                searchAlign: "left",
                search: true,
                singleSelect: true,
                height: $(window).height() - $table.offset().top + 28,
                columns: columns,
                onClickRow: function (row, $element) {
                    if ($table.bootstrapTable('getOptions').singleSelect == true) {
                        $('.success').removeClass('success');//去除之前选中的行的，选中样式
                        $($element).addClass('success');//添加当前选中的 success样式用于区别
                    }
                },
            });

            $(window).resize(function () {
                $table.bootstrapTable('resetView', { height: $(window).height() - $(".table").offset().top + 53 });//随窗口变化改变高度
            })
        }


        $this.init();
        //$this.getDesbord();
        $this.TableDataInit();


    });



</script>